#Theoretical Questions

1. What are data structures, and why are they important?
>> Data structures are ways to organize and store data for efficient use.

Importance:

Faster data access and operations

Saves memory

Handles large data efficiently

Makes code cleaner and easier to maintain

2. Explain the difference between mutable and immutable data types with examples?
>> Mutable Can be changed after creation.
Example:
my_list = [1, 2, 3]
my_list[0] = 10  
print(my_list)  # [10, 2, 3]

Immutable: Cannot be changed after creation.
Example:

my_tuple = (1, 2, 3)
my_tuple[0] = 10  
print(my_tuple)  # (1, 2, 3)

3. What are the main differences between lists and tuples in Python?
>> Lists are mutable , they are defined using square brackets whereas tuples are immutable and they are defined using paranthesis.

4. Describe how dictionaries store data
>> Dictionaries store data as key–value pairs using a hash table.

Key → unique identifier

Value → data associated with the key

Python uses the key’s hash value to quickly find where its value is stored in memory.

5. Why might you use a set instead of a list in Python?
>> Whenever we need to avoid the duplicate values we can use set because set is an unordered collection of unique elements.So we should use set instead of list to avoid duplicates.

6. What is a string in Python, and how is it different from a list?
>> A string is a sequence of characters that represent and manipulate textual data where as list is an ordered collection of elements that can be of anytype.String should be defined inside quotes whereas the lift should be defined using square brackets.

7. How do tuples ensure data integrity in Python?
>> Tuples ensure data integrity in Python because they are immutable.Once created, their contents cannot be changed, added to, or removed.

This means No accidental modifications,safe to use as fixed records or constants.

---

8. What is a hash table, and how does it relate to dictionaries in Python?
>> A hash table is a data structure that stores data in key-value pairs and uses a hash function to quickly find the storage location of each key.
Python's dict is implemented using a hash table.

When you insert a key-value pair, Python computes the hash of the key and uses it to decide where to store the value in memory.

9.  Can lists contain different data types in Python?
>> Yes, List is heterogenous. Lists can contain different types of data in it like integer, float, string, boolean, complex numbers.

10.  Explain why strings are immutable in Python?
>> Strings in Python are immutable to improve memory efficiency, ensure consistent hashing (important for dictionary keys), and prevent accidental changes.Any modification creates a new string object instead of altering the original.

11.What advantages do dictionaries offer over lists for certain tasks?
>> 1. Avoid duplicate keys, ensuring unique identifiers for data.
2. Allow flexible, non-sequential storage (no need to maintain index order).
3. Can store and retrieve data regardless of insertion position.

12. Describe a scenario where using a tuple would be preferable over a list?
>> Tuples are preferred over lists when the data has to be constant or should not get modified.Tuples prevent accidental modification, ensuring the coordinates stay intact.Like storing employee ID, or anyother ID numbers.

13.  How do sets handle duplicate values in Python3?
>> Sets will remove duplicate values and only stores unique values.Set is used to avaoid duplicate data.

14. How does the “in” keyword work differently for lists and dictionaries?
>> In lists 'in' keyword is used to find whether a value is present in the list or not whereas in the dictionary it is used to find if the key exists.

15.  Can you modify the elements of a tuple? Explain why or why not?
>> We cannot modify the elements in the tuple because tuple is immutable. We cannot make any modifications in its elements.This immutability ensures data integrity and allows tuples to be used as dictionary keys or set elements when they contain only immutable types.

16. What is a nested dictionary, and give an example of its use case?
>> A nested dictionary is nothing but when there is a dictionary present inside a dictionary. Ex:
employee_details={Emp_ID:1142, Emp_name:Sundar, Emp_dept:HR, address:{Door_no:21/2, street:ABC colony, Zip: 767578}}

17. Describe the time complexity of accessing elements in a dictionary?
>> Accessing an element in a Python dictionary has an average time complexity of O(1) because it uses a hash table to find the key's location directly.
In rare cases of hash collisions, the time can degrade to O(n), but this is uncommon.

18. In what situations are lists preferred over dictionaries?
>> 1. When You only need ordered data storage.
   2. When elements don't need unique identifiers (keys).
   3. When You'll access items mainly by position/index.
   4. Where Memory usage should be minimal.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
>> Dictionaries are considered unordered because they store items based on hash values, not insertion order, so the sequence wasn't guaranteed.
This means retrieval is done by key, not position you can't rely on a fixed index to get items.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
>> In lists data can be accessed using the indexing whereas in dictionaries the values vcan be accessed using the keys.This makes dictionaries faster for direct lookups when you know the key, while lists are better for ordered, position-based access.

# Practical Questions

In [ ]:
# 1. Write a code to create a string with your name and print itP
name= "Rubika"
print(name)

Rubika

In [ ]:
#2 .Write a code to find the length of the string "Hello World"P
string="Hello World"
print(len(string))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?
string="Python Programming"
print(string[0:3])

Pyt

In [ ]:
# 4 Write a code to convert the string "hello" to uppercase?
string="hello"
print(string.upper())

HELLO

In [ ]:
# 5 Write a code to replace the word "apple" with "orange" in the string "I like apple
string= "I like apple"
print(string.replace('apple','orange'))

I like orange

In [ ]:
# 6 Write a code to create a list with numbers 1 to 5 and print it
List=[]
for i in range(1,6):
  List.append(i)
print(List)

[1, 2, 3, 4, 5]

In [ ]:
# 7 Write a code to append the number 10 to the list [1, 2, 3, 4]
List=[1,2,3,4]
List.append(10)
print(List)

[1, 2, 3, 4, 10]

In [ ]:
# 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
List=[1,2,3,4,5]
List.remove(3)
print(List)

[1, 2, 4, 5]

In [ ]:
# 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
List=['a', 'b', 'c', 'd']
print(List[1])

b

In [ ]:
# 10  Write a code to reverse the list [10, 20, 30, 40, 50]
List=[10, 20, 30, 40, 50]
List.reverse()
print(List)

[50, 40, 30, 20, 10]

In [ ]:
# 11  Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
# 12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple=('red', 'green', 'blue', 'yellow')
print(tuple[1:])

('green', 'blue', 'yellow')

In [ ]:
# 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t=(10, 20, 5, 15)
min_value=min(t)
print(min_value)

5

In [ ]:
# 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple=('dog', 'cat', 'rabbit')
index=my_tuple.index('cat')
print(index)

1

In [ ]:
# 15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple=('apple', 'banana', 'orange', 'strawberry')
if 'kiwi' in my_tuple:
  print("Kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
# 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
# 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [ ]:
#18 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1,2,3}
set2={3,4,5}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set3=set1.intersection(set2)
print(set3)

{2, 3}

In [ ]:
# 21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={'name':'Ruby','age': 26, 'city': 'Chennai'}
print(dict)

{'name': 'Ruby', 'age': 26, 'city': 'Chennai'}

In [ ]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict={'name': 'John', 'age': 25}
dict.update({'country':'USA'})
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict={'name':'Alice', 'age': 30}
print(dict['name'])

Alice

In [ ]:
# 24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict={'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print("city is present in the dictionary")
else:
  print("city is not present in the dictionary")

city is present in the dictionary

In [ ]:
# 26 Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3,4,5]
tuple=(1,2,3,4,5)
dict={'name': 'Alice', 'city': 'Paris'}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Alice', 'city': 'Paris'}

In [ ]:
# 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list=[]
for i in range(5):
  list.append(random.randint(1,100))
list.sort()
print(list)

[13, 51, 65, 74, 77]

In [ ]:
# 28 Write a code to create a list with strings and print the element at the third index
list=['cat', 'camel', 'elephant', 'fox']
print(list[3])

fox

In [ ]:
# 29 Write a code to combine two dictionaries into one and print the result.
dict={'name':'Ruby', 'age': 26}
dict1={"city":'chennai', 'state':'Tamilnadu'}
dict.update(dict1)
print(dict)

{'name': 'Ruby', 'age': 26, 'city': 'chennai', 'state': 'Tamilnadu'}

In [ ]:
# 30 Write a code to convert a list of strings into a set.
list=['cat', 'camel', 'elephant', 'fox']
se=set(list)
print(se)

{'elephant', 'camel', 'fox', 'cat'}